html {
    background: #eee;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 16px;
    letter-spacing: -0.25px;
    line-height: 1.4;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    max-width: 60rem;
    min-height: 100vh;
}

h1 {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding-bottom: 0.4em;
}

h2 {
    margin: 1.5em 0 0.5rem;
}

blockquote {
    margin: 1em 0 1em 6ex;
}

p {
    margin: 0 0 1em 0;
}

dd {
    margin: 0 0 1em 6ex;
}

code {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

a:link {
    color: #00f;
}

a:visited {
    color: #c0f;
}

em {
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #333;
    }

    body {
        background: #000;
        color: #fff;
    }

    h1 {
        border-bottom-color: #888;
    }

    a:link {
        color: #9cf;
    }

    a:visited {
        color: #ebf;
    }
}
