name: Release new version

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' # Release (1.2.3)
      - 'v[0-9]+.[0-9]+.[0-9]+-*' # Prerelease (1.2.3-alpha.1)

permissions:
  contents: read

env:
  FORCE_COLOR: 1

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yml
  release:
    name: Release
    needs: test
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: bin/build "$GITHUB_REF_NAME"
      - name: Prerelease
        if: "contains(github.ref_name, '-')"
        uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          draft: true
          prerelease: true
          files: |
            temp/dist/bin
      - name: Release
        if: "!contains(github.ref_name, '-')"
        uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          draft: true
          prerelease: false
          files: |
            temp/dist/bin
