name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' # Release (1.2.3)
      - 'v[0-9]+.[0-9]+.[0-9]+-*' # Prerelease (1.2.3-alpha.1)

permissions:
  contents: read

env:
  FORCE_COLOR: 1

jobs:

  # This is just to double-check before releasing it - it should already
  # have been tested on the main branch before it is tagged!
  test:
    name: Test
    uses: ./.github/workflows/test.yml

  release:
    name: Release
    needs: test
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build Bin CLI
        run: bin/build "${GITHUB_REF_NAME/v}"

      - name: Create GitHub Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          prerelease: "${{ contains(github.ref_name, '-') }}"
          body: 'See the [CHANGELOG](${{ github.server_url }}/${{ github.repository }}/blob/main/CHANGELOG.md) for details.'
          files: dist/bin
