name: Run Tests

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
      - '!v**'
  pull_request:
  workflow_call:

permissions:
  contents: read

env:
  FORCE_COLOR: 1

jobs:

  alpine:
    name: 'Linux: Alpine'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Alpine Linux in chroot
        uses: jirutka/setup-alpine@ae3b3ddba35054804fc4a3507b519fa7e8152050 # v1.4.1

      - name: Install Bash
        shell: alpine.sh --root {0}
        run: apk update && apk add bash

      - name: Run all tests
        shell: alpine.sh {0}
        run: bin/test
        env:
          DISABLE_KCOV: 1
          DISABLE_SHELLCHECK: 1

  # On Ubuntu, we run every test including coverage checking, then upload the
  # compiled script and coverage report in case they are needed
  ubuntu:
    name: 'Linux: Ubuntu'
    runs-on: ubuntu-24.04 # https://github.com/bin-cli/bin-cli/issues/43
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install dependencies
        run: bin/setup

      - name: Run all tests
        run: bin/test

      - name: Upload 'bin' artifact
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: bin
          path: dist/bin

      - name: Upload 'coverage/' artifact
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: coverage
          path: temp/coverage/merged/

  macos:
    name: macOS
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Upgrade Bash and Install ShellCheck
        run: brew update && brew install bash shellcheck

      - name: Run all tests (except coverage and ShellCheck)
        run: bin/test
        env:
          # While kcov can run on macOS, it's *really* slow (even with --include-path)
          DISABLE_KCOV: 1
          DISABLE_SHELLCHECK: 1

  cygwin:
    name: 'Windows: Cygwin'
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Cygwin
        uses: egor-tensin/setup-cygwin@fca9069f92361187d4abfaa5d8a7490e435d8349 # v4.0.2

      - name: Run all tests (except coverage and ShellCheck)
        shell: C:\tools\cygwin\bin\bash.exe -e {0}
        run: bin/test
        env:
          DISABLE_KCOV: 1
          DISABLE_SHELLCHECK: 1
          LANG: en_US.UTF-8

  git-for-windows:
    name: 'Windows: Git for Windows'
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run a basic smoke test
        shell: bash
        run: bin/build && dist/bin

      # GitHub Actions runners doesn't seem to have the necessary permissions for
      # MSYS='winsymlinks:nativestrict' to work, so these are disabled until I find
      # an alternative (or explicitly disable the tests that require symlinks)

      #- name: Run all tests (except coverage and ShellCheck)
      #  shell: bash
      #  run: bin/test
      #  env:
      #    DISABLE_KCOV: 1
      #    DISABLE_SHELLCHECK: 1
      #    LANG: en_US.UTF-8

  msys2:
    name: 'Windows: MSYS2'
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run a basic smoke test
        shell: C:\msys64\usr\bin\bash.exe {0}
        run: bin/build && dist/bin

      #- name: Run all tests (except coverage and ShellCheck)
      #  shell: C:\msys64\usr\bin\bash.exe {0}
      #  run: bin/test
      #  env:
      #    DISABLE_KCOV: 1
      #    DISABLE_SHELLCHECK: 1
      #    LANG: en_US.UTF-8

  wsl:
    name: 'Windows: WSL'
    runs-on: windows-2025 # https://github.com/Vampire/setup-wsl/issues/72#issuecomment-2677169517
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install WSL distribution
        uses: Vampire/setup-wsl@6a8db447be7ed35f2f499c02c6e60ff77ef11278 # v6.0.0

      - name: Run all tests (except coverage)
        shell: wsl-bash {0}
        # wsl-bash doesn't seem to support 'env'
        # TEST_TEMP is required because the repo is in a Windows not Linux
        # directory, so the 'execute' bit is always set for files
        run: DISABLE_KCOV=1 DISABLE_SHELLCHECK=1 TEST_TEMP=/tmp/bin-cli-temp bin/test
